.skh_module {
    &:after {
        clear: both;
        content: ".";
        display: block;
        height: 0;
        visibility: hidden;
        font-size: 0;
    }

    &--left{
        text-align: left !important;
    }
    &--right{
        text-align: right !important;
    }
    &--center{
        text-align: center !important;
    }

    a{
        display: inline-block;
    }
}


/* Common skhButton styles */

.skhButton {
    min-width: 130px;
    max-width: 250px;
    margin: 1em 0;
    padding: 0.5em 1em;
    border: none;
    background: none;
    color: inherit;
    vertical-align: middle;
    position: relative;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    &:focus {
        outline: none;
    }
    &>span {
        vertical-align: middle;
    }
}


/* Sizes */

.skhButton--size-small {
    font-size: 14px;
}

.skhButton--size-medium {
    font-size: 16px;
}

.skhButton--size-large {
    font-size: 18px;
}


/* Typography and Roundedness */

.skhButton--text-upper {
    letter-spacing: 2px;
    text-transform: uppercase;
}

.skhButton--text-thin {
    font-weight: 300;
}

.skhButton--text-medium {
    font-weight: 500;
}

.skhButton--text-thick {
    font-weight: 600;
}

.skhButton--round-s {
    border-radius: 3px;
}

.skhButton--round-m {
    border-radius: 5px;
}

.skhButton--round-l {
    border-radius: 7px;
}


/* Borders */

.skhButton--border-thin {
    border: 1px solid;
}

.skhButton--border-medium {
    border: 2px solid;
}

.skhButton--border-thick {
    border: 3px solid;
}