/* Ujarak */

$pt-color: #29aae2;
.skhButton.skhButton--ujarak {
    color: $pt-color;
    border-color: $pt-color;
   // background-color: $pt-color;


}

.skhButton.skhButton--ujarak.skhButton--light {
    color: #fff;
    border-color: #fff;
    &:hover {
        color: #fff;
        border-color: $pt-color;
    }
}

.skhButton--ujarak {
    -webkit-transition: border-color 0.4s, color 0.4s;
    transition: border-color 0.4s, color 0.4s;
}

.skhButton--ujarak::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $pt-color;
    z-index: -1;
    opacity: 0;
    -webkit-transform: scale3d(0.7, 1, 1);
    transform: scale3d(0.7, 1, 1);
    -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
    transition: transform 0.4s, opacity 0.4s;
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.skhButton--ujarak.skhButton--round-s::before {
    border-radius: 0px;
}

.skhButton--ujarak.skhButton--inverted::before {
    background: $pt-color;
}

.skhButton--ujarak,
.skhButton--ujarak::before {
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.skhButton--ujarak:hover {
    color: #fff;
    border-color: $pt-color;
}

.skhButton--ujarak.skhButton--inverted:hover {
    color: $pt-color;
    border-color: #fff;
}

.skhButton--ujarak:hover::before {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}