.skh_module:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  font-size: 0;
}
.skh_module--left {
  text-align: left !important;
}
.skh_module--right {
  text-align: right !important;
}
.skh_module--center {
  text-align: center !important;
}
.skh_module a {
  display: inline-block;
}

/* Common skhButton styles */
.skhButton {
  min-width: 130px;
  max-width: 250px;
  margin: 1em 0;
  padding: 0.5em 1em;
  border: none;
  background: none;
  color: inherit;
  vertical-align: middle;
  position: relative;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.skhButton:focus {
  outline: none;
}
.skhButton > span {
  vertical-align: middle;
}

/* Sizes */
.skhButton--size-small {
  font-size: 14px;
}

.skhButton--size-medium {
  font-size: 16px;
}

.skhButton--size-large {
  font-size: 18px;
}

/* Typography and Roundedness */
.skhButton--text-upper {
  letter-spacing: 2px;
  text-transform: uppercase;
}

.skhButton--text-thin {
  font-weight: 300;
}

.skhButton--text-medium {
  font-weight: 500;
}

.skhButton--text-thick {
  font-weight: 600;
}

.skhButton--round-s {
  border-radius: 3px;
}

.skhButton--round-m {
  border-radius: 5px;
}

.skhButton--round-l {
  border-radius: 7px;
}

/* Borders */
.skhButton--border-thin {
  border: 1px solid;
}

.skhButton--border-medium {
  border: 2px solid;
}

.skhButton--border-thick {
  border: 3px solid;
}

/* Winona */
.button--winona {
  overflow: hidden;
  padding: 0;
  -webkit-transition: border-color 0.3s, background-color 0.3s;
  transition: border-color 0.3s, background-color 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.button--winona:after {
  content: attr(data-text);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  color: #3f51b5;
  -webkit-transform: translate3d(0, 25%, 0);
  transform: translate3d(0, 25%, 0);
  padding: 1em 2em !important;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.button--winona span {
  display: block;
  padding: 1em 2em !important;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.button--winona.button--inverted {
  color: #7986cb;
}
.button--winona.button--inverted:after {
  color: #fff;
}
.button--winona:hover {
  border-color: #3f51b5;
  background-color: rgba(63, 81, 181, 0.1);
}
.button--winona.button--inverted:hover {
  border-color: #21333C;
  background-color: #21333C;
}
.button--winona:hover::after {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.button--winona:hover span {
  opacity: 0;
  -webkit-transform: translate3d(0, -25%, 0);
  transform: translate3d(0, -25%, 0);
}

/* Wapasha */
.button.button--wapasha {
  background: #37474f;
  color: #fff;
  -webkit-transition: background-color 0.3s, color 0.3s;
  transition: background-color 0.3s, color 0.3s;
}

.button--wapasha.button--inverted {
  background: #fff;
  color: #37474f;
}

.button--wapasha::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #3f51b5;
  z-index: -1;
  border-radius: inherit;
  opacity: 0;
  -webkit-transform: scale3d(0.6, 0.6, 1);
  transform: scale3d(0.6, 0.6, 1);
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}

.button--wapasha.button--inverted::before {
  border-color: #7986cb;
}

.button--wapasha:hover {
  background-color: #fff;
  color: #3f51b5;
}

.button--wapasha.button--inverted:hover {
  background-color: #37474f;
  color: #7986cb;
}

.button--wapasha:hover::before {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  opacity: 1;
}

/* Ujarak */
.skhButton.skhButton--ujarak {
  color: #29aae2;
  border-color: #29aae2;
}

.skhButton.skhButton--ujarak.skhButton--light {
  color: #fff;
  border-color: #fff;
}
.skhButton.skhButton--ujarak.skhButton--light:hover {
  color: #fff;
  border-color: #29aae2;
}

.skhButton--ujarak {
  -webkit-transition: border-color 0.4s, color 0.4s;
  transition: border-color 0.4s, color 0.4s;
}

.skhButton--ujarak::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #29aae2;
  z-index: -1;
  opacity: 0;
  -webkit-transform: scale3d(0.7, 1, 1);
  transform: scale3d(0.7, 1, 1);
  -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
  transition: transform 0.4s, opacity 0.4s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.skhButton--ujarak.skhButton--round-s::before {
  border-radius: 0px;
}

.skhButton--ujarak.skhButton--inverted::before {
  background: #29aae2;
}

.skhButton--ujarak,
.skhButton--ujarak::before {
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.skhButton--ujarak:hover {
  color: #fff;
  border-color: #29aae2;
}

.skhButton--ujarak.skhButton--inverted:hover {
  color: #29aae2;
  border-color: #fff;
}

.skhButton--ujarak:hover::before {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/*# sourceMappingURL=skh-elegant-button-public.css.map */
